.venv/

RESTART.md

external_projects/

#cloudimg/*
#!cloudimg/.gitkeep

*.bak

# Artifacts created by running opencode in docker
.bun
.cache
.config
.local
.npm

# Secrets
terraform/secrets.auto.tfvars
terraform/terraform.tfvars
.env
scripts/.env

# Junk files from manually running Terraform
*.tfstate
*.tfstate.*
.wget-hsts

.ansible/

# Generated artifacts
infra.drawio
__pycache__/
*.pyc
typescript

# SSH keys
id_rsa*

# Terraform
.terraform/
.terraform.lock.hcl
!terraform/.terraform.lock.hcl

setpw.sh
certs/
