[defaults]
gathering = smart
fact_caching = jsonfile
fact_caching_connection = /tmp/ansible_facts
private_key_file = ~/.ssh/id_rsa
remote_user = ansible
deprecation_warnings = False
inject_facts_as_vars = False
remote_tmp = /tmp/.ansible/tmp
collections_paths = ~/.ansible/collections:/usr/lib/python3/dist-packages/ansible_collections

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
